
config/awesome/floppy/configuration/rofi/global/history.txt
config/awesome/floppy/widget/airplane-mode/airplane_mode
config/awesome/floppy/widget/notif-center/dont-disturb/disturb_status
the-glorious-dotfiles/
